#image-container {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid #3529BB;
    display: flex;
    justify-content: center;
    align-items: center;
}

#image-container:hover {
    cursor: pointer;
    border: 5px solid #7e76d4;
}

.user-image-preview {
    width: 100%;
    min-height: 100%;
}

.my-form {
    max-width: 1000px;
}
